{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load recaptcha2 %}
{% load base_extras %}

{% block content %}
  {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'css/form-page.scss' %}">
  {% endaddtoblock %}
  {% include "base/include/header-hero.html" %}
    <section class="page-body">
      {% if page.intro %}
        <p class="intro">{{ page.intro|richtext }}</p>
      {% endif %}
      {% if page.body %}
        {{ page.body }}
      {% endif %}
    </section>
  {% block formblock %}
    <section class="form">
      {% include 'includes/form_snippet.html' %}
    </section>
  {% endblock formblock %}
{% endblock content %}
