@import './variables';

.divider-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // background-color: $colors-p-light;
    color: $colors-text-gray;
    margin: 0 auto;
    text-align: center;
    height: 5.5em;
    h2 {
        margin: auto;
    }
}
