{% load static %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load recaptcha2 %}
{% load base_extras %}

{% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/form.scss' %}">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script type="text/javascript" src="{% static 'vendor/es6-shim/es6-shim.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/email-mask.js' %}"></script>
  {% comment %} <script type="text/javascript" src="{% static 'js/phone-mask.js' %}"></script> {% endcomment %}
  <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endaddtoblock %}

{% recaptcha_init %}
<form action="{% pageurl page %}" method="POST" role="form" class="form">
  {% csrf_token %}
  {% if form.subject.errors %}
  <ol role="alertdialog">
    {% for error in form.subject.errors %}
    <li role="alert"><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}
  
  {% for field in form %}
  <div 
  class="field-wrapper" 
  aria-required="{% if field.field.required %}true{% else %}false{% endif %}" 
  for="{{ field.label|lower }}"
  data-placeholder="{{ field.field.widget.attrs|get_item:'data-placeholder' }}">
    {% comment %} {{ field.field.widget.attrs|get_item:'title' }} {% endcomment %}
    <label class="label sr-only" for="{{ field.html_name }}">
      {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}
    </label>
    {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}
  
  <input type="submit">
</form>