{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags  %}
{% load wagtail_modeltranslation %}
{% load i18n %}
{% load sekizai_tags %}
{% load sass_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/blog-page.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/icons/tag.scss' %}">
  {% endaddtoblock %}
  <div class="msg-container">
    {% include "includes/messages.html" %}
  </div>
  <aside class="aside">
    {% include 'includes/aside.html' %}
  </aside>
  <section class="page-body">
    {% if page.introduction %}
      <p class="intro">{{ page.introduction }}</p>
    {% endif %}
      
      <div class="meta">
        {% if page.authors %}
          {% for author in page.authors %}
          <div class="meta__author">
            {% image author.picture fill-50x50-c100 class="meta__author__avatar" %}
            <p class="meta__author__name">{{ author.first_name }} {{ author.last_name }}</p>
          </div>
          {% endfor %}
          {% endif %}
          
          {% if page.date_published %}
            <div class="blog-byline">
              {{ page.date_published }}
            </div>
          {% endif %}
        </div>
        
        {{ page.body }}
        
        {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
          {% image item.image fill-320x240 %}
          <p>{{ item.caption }}</p>
        </div>
        {% endfor %}
        <div class="tags">
          {% include 'blog/tags.html' %}
        </div>
        <p><a href="{{ page.get_parent.url }}">{% trans "Return to blog" %}</a></p>
  </section>
{% endblock %}