.main {
    grid-area: main;
    align-self: flex-start;
    display: grid;
    width: 100%;
    grid-template-columns: minmax(50px, 6em) repeat(4, 1fr) minmax(50px, 6em);
    grid-template-rows: min-content minmax(0, min-content) minmax(60px, max-content) max-content;
    grid-template-areas:
    "hero hero hero hero hero hero"
    "msg msg msg msg msg msg"
    ". tags tags tags aside ."
    ". body body body aside .";
}

.page-body {
    grid-area: body;
}

.aside {
    grid-area: aside;
}

.msg-container {
    grid-area: msg;
}
