.main {
    grid-area: main;
    align-self: flex-start;
    display: grid;
    width: 100%;
    grid-template-columns: minmax(50px, 6em) repeat(2, 1fr) minmax(50px, 6em);
    grid-template-rows: min-content minmax(60px, max-content);
    grid-template-areas:
    "tags tags tags aside"
    "pbody pbody pbody aside";
}

.page-body {
    grid-area: body;
}

.aside {
    grid-area: aside;
}
